/* step 4
            // add different heights to each item then align them
            align-items: center;
        */

/* step 5
            // on one item only
            align-self: flex-end;
        */

/* step 6
            // add a bunch on items
            flex-wrap: wrap;
            flex-wrap: wrap-reverse;
        */

/*
            //  make a navigation bar
        
        */

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: firebrick;
    color: white;
    text-align: center;
    flex-wrap: wrap;
    margin: 25px;
    width: 300px;
}

.flex-item {
    background-color: seagreen;
    margin: 10px;
    flex-grow: 1;
}

.navigation-bar {
    background-color: purple;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
}

.logo {
    background-color: white;
    height: 30px;
    width: 40px;
    margin: 25px;

}

.positioned-relative {
    background-color: bisque;
    position: relative;
    top: 10px;
    height: 200px;
}

.positioned-absolute {
    background-color: blue;
    position: absolute;
    top: 10px;
    bottom: 0;
    right: 0;
}

.body {
    padding: 0 20px 20px;
}

.paragraph {
    margin-top: 100px;
}
.website-body {
    
}

/*
.item1 {


    background-color: seagreen;
}

.item2 {


    background-color: seagreen;
}

.item3 {


    background-color: seagreen;
}

.item4 {

    background-color: seagreen;

}
*/
